/* Variabili globlali */

:root {
  --background-header: hsl(222.55deg 81.67% 52.94%);
  --links-header: white;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

header {
  height: 60px;
  width: 100%;
  background-color: var(--background-header);
}

a {
  text-decoration: none;
  color: var(--links-header);
}

li {
  list-style-type: none;
}

/* Utility classes */
.flex {
  display: flex;
}
.col-50 {
  width: 50%;
}

.col-25 {
  width: 25%;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.span-button {
  display: inline-block;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
}

.span-button.white {
  background-color: white;
  color: black;
}

.span-button.black {
  background-color: black;
  color: white;
}
/* Header */
.container-nav {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid black;
}
nav.row {
  height: 100%;
  align-items: center;
}

header ul.flex {
  justify-content: space-between;
}

header .col-25.text-left {
  padding-left: 15px;
}

header .col-25.text-right {
  padding-right: 15px;
}

/* Stili classi principali sezioni*/
main > .container {
  margin-top: 15px;
  margin-bottom: 15px;
}

section {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Hero section */
.hero-section {
  border: 2px solid red;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
  /* Non mi convince sta cosa della min height per il banner */
  min-height: 500px;
}

.container-hero {
  width: 50%;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.container-hero h1 {
  color: white;
  font-size: 2rem;
  padding-bottom: 30px;
}

.container-hero p {
  color: white;
  font-size: 1.2rem;
}

.container-hero .hero-buttons {
  padding-top: 15px;
}

.hero-buttons span {
  font-size: 1.2rem;
  margin:0px 5px 0 5px;
}

/* Section 1 */

.sec-1 > .container > .row {
  display: flex;
  justify-content: space-between;
}
.sec-1 > .container > .row > .col-1 {
  width: 60%;
  /* debug */
  background-color: brown;
}
.sec-1 > .container > .row > .col-2 {
  width: 40%;
  background-color: burlywood;
}

/* Section 2 */
.sec-2 > .container > .row {
  display: flex;
  justify-content: space-between;
}
.sec-2 > .container > .row > .col-1 {
  width: 40%;
  /* debug */
  background-color: burlywood;
}
.sec-2 > .container > .row > .col-2 {
  width: 60%;
  background-color: brown;
}

/* Section 3 */
.sec-3 > .container > .row {
  display: flex;
  justify-content: space-between;
}
.sec-3 > .container > .row > .col-1 {
  width: 60%;
  /* debug */
  background-color: brown;
}
.sec-3 > .container > .row > .col-2 {
  width: 40%;
  background-color: burlywood;
}

/* Section 4 */
.sec-4 > .container > .row {
  display: flex;
  justify-content: space-between;
  background-color: chartreuse;
  min-height: 450px;
}

/* Footer */

footer {
  background-color: black;
  height: 430px;
}

/* Section 5 */
.sec-5 > .container > .row {
  display: flex;
  justify-content: space-between;
}
.sec-5 > .container > .row > .col-1 {
  width: 40%;
  /* debug */
  background-color: rosybrown;
}
.sec-5 > .container > .row > .col-2 {
  width: 15%;
  background-color: aqua;
}
.sec-5 > .container > .row > .col-3 {
  width: 15%;
  background-color: aqua;
}
.sec-5 > .container > .row > .col-4 {
  width: 15%;
  background-color: aqua;
}
.sec-5 > .container > .row > .col-5 {
  width: 15%;
  background-color: aqua;
}
/* Section 6 */
footer > .sec-6 {
  border: 1px solid gray;
  height: 90px;
  margin-top: 16px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0;
}
.sec-6 > .container {
  min-height: 20px;
  display: flex;
  align-items: flex-end;
  width: 80%;
}

.sec-6 > .container > .row {
  display: flex;
  justify-content: space-between;
  background-color: rgb(142, 146, 122);
  min-height: 50px;
  width: 100%;
}
.sec-6 > .container > .row > span {
  padding: 5px;
  background-color: rgb(173, 201, 18);
}
.sec-6 > .container > .row > button {
  padding: 5px;
  background-color: rgb(173, 201, 18);
}
